<div style="padding: 0; height: 340px; width: 25%; float: left; margin-right: 20px; margin-bottom: 20px; box-shadow:12px 0 15px -4px rgba(31, 73, 125, 0.8)"
    class="container card employee-card">
    <div style="background-color: blue;" class="card-header">
        <h2 style="color: white;" class="card-title">{{ name }}</h2>
        <h3 style="color: white;" class="card-title"><i class="fas fa-glasses mr-2"></i>{{ role }}</h3>
    </div>
    <div class="container card-body">
        <lu class="list-group">
            <li class="list-group-item">ID:{{ id }}</li>
            <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
            <li class="list-group-item">Github: <a href="https://github.com/{{ github }}" target="_blank"
                    rel="noopener">{{ github }}</a></li>
        </lu>
    </div>
</div>